CMNC_POSTGRES_USER=cmnc
CMNC_POSTGRES_PASSWORD=cmnc_password
CMNC_POSTGRES_DB=cmnc
CMNC_POSTGRES_PORT=5432

CMNC_RABBITMQ_USER=cmnc
CMNC_RABBITMQ_PASSWORD=cmnc_password
CMNC_RABBITMQ_VHOST=cmnc
CMNC_RABBITMQ_PORT=5672
CMNC_RABBITMQ_MANAGEMENT_PORT=15672

CMNC_AUTH_PORT=8001
CMNC_CLASSROOM_PORT=8002
CMNC_INVENTORY_PORT=8003
