CMNC_POSTGRES_USER=cmnc
CMNC_POSTGRES_PASSWORD=cmnc_password
CMNC_POSTGRES_DB=cmnc
CMNC_POSTGRES_PORT=5432

CMNC_MIKROTIK_BASE_URL=http://192.168.0.1/rest
CMNC_MIKROTIK_USERNAME=cmnc_poller
CMNC_MIKROTIK_PASSWORD=change_me
CMNC_MIKROTIK_VERIFY_TLS=false
CMNC_POLICY_SYNC_ADDRESS_LIST_NAME=cmnc_wan_blocked

CMNC_RABBITMQ_USER=cmnc
CMNC_RABBITMQ_PASSWORD=cmnc_password
CMNC_RABBITMQ_VHOST=cmnc
CMNC_RABBITMQ_PORT=5672
CMNC_RABBITMQ_MANAGEMENT_PORT=15672

CMNC_API_GATEWAY_PORT=8000
CMNC_AUTH_PORT=8001
CMNC_CLASSROOM_PORT=8002
CMNC_INVENTORY_PORT=8003
