{
  "ApiBaseUrl": "http://aspirantdrago.ru",
  "UseLoginPassword": true,
  "Username": "admin",
  "Password": "admin",

  "RefreshSeconds": 10,

  "AuthLoginPath": "/api/auth/login",
  "ClassroomsPath": "/api/classrooms",
  "DevicesPath": "/api/classrooms/{classroomId}/dashboard",

  "WanBlockPath": "/api/classrooms/{classroomId}/wan/block-all",
  "WanUnblockPath": "/api/classrooms/{classroomId}/wan/allow-all"
}
