{
  "ApiBaseUrl": "http://aspirantdrago.ru",
  "UseLoginPassword": true,
  "Username": "admin",
  "Password": "admin",

  "RefreshSeconds": 10,

  "AuthLoginPath": "/api/auth/login",
  "ClassroomsPath": "/api/admin/classrooms",
  "DevicesPath": "/api/admin/devices?classroom_id={classroomId}",

  "WanBlockPath": "/api/admin/classrooms/{classroomId}/wan/block",
  "WanUnblockPath": "/api/admin/classrooms/{classroomId}/wan/unblock"
}
